.playersTable{
    position: absolute;
    top: 15%;
    right: 10%;
    width: 15%;
    font-size: 22px;
    padding: 1%;
    border: 1px solid;
    border-radius: 4px;
}
.playersTable h3{
    font-size: 24px;
    margin: 1% 0;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

.summaryTable{
    display: flex;
    flex-direction: column;
}

.playerSummaryRow{
    border: 1px solid;
    border-radius: 4px;
    padding: 2%;
    width: 50%;
    margin: auto;
}
.infoRow{
display: inherit;
    margin-bottom: 3%;
}
.titleAndButton{
    display: grid;
}
.containerForShowCards{
    width: 75%;
    margin: auto;
}

.cardsToShowContainer{
    display: grid;
    width: 100%;
    padding: 3%;
    background-color: #233329;
    margin-top: 3%;

}
.cardsToShowButton {
    text-align: right;
    padding: 2%;
}
.closeCardsButton{
    border-radius: 4px;
    background: transparent;
    border: 2px solid #233329;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 15px;
    transition: all 0.8s;
    cursor: pointer;
    width: 25%;
}
.closeCardsButton span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.closeCardsButton:hover{
    transition: 0.4s;
    border-color: white;
}
.closeCardsButton:focus{
    outline: none;
}

.cardBox{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.spanInRow{
    font-size: 24px;
    padding-bottom: 3%;
}

.gameButtons{
    border-radius: 4px;
    background: transparent;
    border: 2px solid #233329;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    transition: all 0.8s;
    cursor: pointer;
}
.gameButtons span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.gameButtons:hover{
    background: linear-gradient(to right, #233329, #63D471);

}
.gameButtons:focus{
    outline: none;
}
.gameButtons:disabled{
    background-color: #5d4257;
    background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
}
.gameButtons:disabled span{
    cursor: default;
}

.gameButtonsInRow{
    border-radius: 4px;
    background: transparent;
    border: 2px solid #233329;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    transition: all 0.8s;
    cursor: pointer;
    width: 60%;
    margin: auto;
}
.gameButtonsInRow span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.gameButtonsInRow:hover{
    background: linear-gradient(to right, #233329, #63D471);
}
.gameButtonsInRow:focus{
    outline: none;
}
.gameButtonsInRow:disabled{
    background-color: #5d4257;
    background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
}
.gameButtonsInRow:disabled span{
    cursor: default;
}

.alertConstent{
    display: grid;
    padding: 2%;
    width: 35%;
    margin: auto;
    border: 1px solid white;
    animation-name: boxDecoration;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes boxDecoration {
    0%{
        border-top-color: white;
        border-bottom-color: white;
        border-left-color: #233329;
        border-right-color: #233329;
    }
    25%{
        border-top-color: #63D471;
        border-left-color: white;
    }
    50%{
        border-bottom-color: white;
        border-right-color: white;
    }
    75%{
        border-bottom-color: #63D471;
        border-left-color: #233329;
    }
    100%{
        border-top-color: white;
        border-bottom-color: white;
        border-left-color: #233329;
        border-right-color: #233329;
    }
}


@media(max-width: 1200px){
    .playerSummaryRow{
        width: 70%;
    }
}

@media(max-width: 1024px){
  .playersTable{
      position: unset;
      top: unset;
      right: unset;
      width: 60%;
      margin:auto;
      margin-top: 5%;
      margin-bottom: 5%;
  }

    .gameButtonsInRow{
        width: 60%;
    }
    .alertConstent {
        width: 60%;
    }
    .closeCardsButton{
        width: 30%;
    }
}

@media(max-width: 770px){
    .gameButtonsInRow{
        font-size: 18px;
    }
    .alertConstent span{
        font-size: 21px !important;
    }
}

@media(max-width: 650px){
    .gameButtonsInRow{
        width: 80%;
    }
    .closeCardsButton{
        width: 50%;
    }
}
@media(max-width: 560px){
    .alertConstent span{
        font-size: 18px !important;
    }
}