.App {
  text-align: center;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AppContent{
  margin-top: 10vh;
  padding: 2%;
  font-family: 'Red Rose', cursive;
}

.AppContent h1{
  font-size: 42px;
}

.buttonsContainer{
flex-direction: column;
  display: flex;
}

.buttonsContainer button{
  margin-left: auto;
  margin-right: auto;
  width: 36vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}






