.App {
  text-align: center;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AppContent{
  margin-top: 0;
  padding: 2%;
  font-family: 'Red Rose', cursive;
}

.AppContent h1{
  font-size: 42px;
}

.buttonsContainer{
flex-direction: column;
  display: flex;
}

.buttonsContainer button{
  margin-left: auto;
  margin-right: auto;
  width: 36vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.modeGameContainer{
  width: 40%;
  margin: auto;
  padding: 3%;
  border: 1px solid black;
  animation-name: boxDecoration;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: -1ms;
}

.decorationBox{
  border: 1px solid white;
  width: 10vh;
  height: 20vh;
  animation-name: boxDecoration;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes boxDecoration {
  0%{
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: #233329;
    border-right-color: #233329;
  }
  25%{
    border-top-color: #63D471;
    border-left-color: white;
  }
  50%{
    border-bottom-color: white;
    border-right-color: white;
  }
  75%{
    border-bottom-color: #63D471;
    border-left-color: #233329;
  }
  100%{
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: #233329;
    border-right-color: #233329;
  }
}
@media(max-width: 1024px) {
  .modeGameContainer{
    width: 60%;
  }
  .buttonsContainer button{

  }

}

@media(max-width: 757px){
  .modeGameContainer{
    width: 80%;
  }
}

@media(max-width: 600px){
  .modeGameContainer{
    width: 90%;
  }
}

@media(max-width: 460px){
  .modeGameContainer{
    border:none;
    animation: none;
  }
  .AppContent h1{
    font-size: 30px;
  }
  .buttonsContainer button{
    width: 70%;
    font-size: 18px;
  }
}